{% extends 'notebook/base2.html' %}

{% block content %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        {{error.label_tag}} {{error}} {{error.errors|striptags}}
    {% endfor %}
{% endif %} 
    <h1 class="p-5">Login Form</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form" >
                            <form  class="p-5" action="" method="POST" novalidate>
                                {% csrf_token %}
                                {% for fm in form %}
                                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>
                                {% endfor %}<br>
                                <input class="btn btn-info" type="submit" value="LogIn">
                                <p>Did not have Accoubt?<a class="btn btn-info" href="{% url 'registrationpage' %}">     SignIn</a></p>
                            </form>
                        </div>
                    </div>
                </div>
{% endblock content %}