{% extends 'notebook/base2.html' %}

{% block content %}

    <h1 class="p-5">Upload Note</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form" >
                            <form  class="p-5" action="" method="POST" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}

                                {{fm.as_p}}

                                <input class="btn btn-info" type="submit" value="upload">
                            </form>
                        </div>
                    </div>
                </div>
{% endblock content %}